// Colores
$background-color: rgb(216, 216, 216);
$nav-background: rgb(7, 7, 7);
$nav-hover-background: rgb(57, 56, 56);
$text-color: rgb(249, 249, 248);
$link-hover-color: rgb(72, 71, 71);
$button-bg: #028b20;
$button-hover-bg: #02711a;
$footer-bg: #2c2c2c;

// Tamaños
$nav-height: 110px;
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 15px;