@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button($bg-color, $hover-color) {
    background-color: $bg-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: $font-size-base;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $hover-color;
    }
}